/* CSS Custom Properties */
:root {
  /* Colors */
  --color-1: hsl(234, 25%, 52%);
  --color-2: hsl(233, 54%, 16%);
  --color-3: hsl(232, 10%, 56%);
  --color-4: hsl(341, 92%, 62%);
  --color-5: hsl(341, 100%, 83%);
  --white: hsl(0, 0%, 100%);
  --gradient1: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient2: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}

/* CSS Reset */
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* General Styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.625rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-3);
}

/* COMPONENTS */
/* Heading  */
.title {
  font-weight: 800;
  color: var(--color-2);
  line-height: normal;
}

/* Buttons */
.btn {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.62rem 1.5rem;
  border-radius: 1.75rem;
  width: fit-content;
  line-height: 1.75rem;
  z-index: 2;
}
.btn-1 {
  background-color: var(--color-2);
}
.btn-1:hover,
.btn-1:focus {
  background-color: var(--color-1);
}
.btn-2 {
  background-image: var(--gradient1);
  padding: 0.94rem 2.34rem;
}
.btn-2:hover,
.btn-2:focus {
  opacity: 0.5;
}
.btn-3 {
  background-image: var(--gradient2);
}
.btn-3:hover,
.btn-3:focus {
  opacity: 0.5;
}

.wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.logo {
  width: 5.5625rem;
}

/* ****Styling**** */
/* Header*/
.header {
  padding: 1rem 1rem 0;
}
.header__nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.38rem;
}
.hero {
  width: 100%;
  flex-direction: column;
}

.hero__text {
  flex-direction: column;
  gap: 1.56rem;
}
.hero__text--title {
  font-size: 2.5rem;
}
.hero__img {
  margin: 0 auto;
}

.hero__img--tablet {
  display: none;
}

.hero__img--desktop {
  display: none;
}

/* Main */
main {
  background: linear-gradient(180deg, var(--white), #f0f1ff);
  padding: 0 1rem 5rem;
}
.courses {
  flex-direction: column;
  gap: 2.5rem;
}

.first-card {
  padding: 1.75rem 1.78rem;
  color: var(--ffffff, #fff);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  border-radius: 0.625rem;
  border-radius: 0.625rem;
  background: var(
    --gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}
.card {
  position: relative;
  border-radius: 0.625rem;
  background: var(--ffffff, #fff);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  padding: 3.5rem 1.75rem 2rem;
}
.card__img {
  width: 3.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: -1.75rem;
  left: 1.75rem;
}
.card__title {
  font-size: 1.25rem;
  line-height: normal;
  margin-bottom: 1rem;
}
.card__text {
  margin-bottom: 1.5rem;
}
.card__link {
  color: var(--color-4);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.card__link:focus,
.card__link:hover {
  color: var(--color-5);
}

/* Footer */
footer {
  background-color: var(--color-2);
  padding: 2.25rem 1rem;
}
.footer {
  justify-content: space-between;
  align-items: center;
}

/* *********************** */
/* *********************** */
/* *****TABLET STYLES***** */
/* *********************** */
/* *********************** */

@media screen and (min-width: 30em) {
  /* COMPONENTS */

  /* Buttons */
  .btn {
    padding: 0.625rem 1.5rem;
    line-height: 1.75rem;
  }

  /* ****Styling**** */
  /* Continue */
  /* Header*/
  .header {
    padding: 1.5rem 2.5rem 0;
    margin-bottom: 7.62rem;
  }
  .header__nav {
    margin-bottom: 6.4rem;
  }
  .hero {
    flex-direction: row;
  }

  .hero__text {
    width: 60%;
  }

  .hero__img {
    width: 40%;
  }

  .hero__img--mobile {
    display: none;
  }

  .hero__img--tablet {
    display: block;
    position: absolute;
    top: -4.3rem;
    right: -17rem;
    max-width: 40rem;
  }

  /* Main */
  main {
    padding: 1.5rem max(3vw, 2.5rem) 5.38rem;
  }
  .courses {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.69rem;
  }

  .first-card {
    width: min(20rem, 100%);
    padding: 3.5rem 2rem;
    margin-top: 2.5rem;
  }
  .card {
    width: min(20rem, 100%);
    margin-top: 2.5rem;
  }

  .card__title {
    font-size: 1.25rem;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .card__text {
    margin-bottom: 1.5rem;
  }
  .card__link {
    color: var(--color-4);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  .card__link:focus,
  .card__link:hover {
    color: var(--color-5);
  }

  /* Footer */
  footer {
    padding: 2.25rem 2.5rem;
  }
}

/* *********************** */
/* *********************** */
/* *****DESKTOP STYLES***** */
/* *********************** */
/* *********************** */

@media screen and (min-width: 64em) {
  /* General Styles */
  body {
    line-height: 1.75rem;
    font-size: 1.125rem;
  }

  /* Buttons */
  .btn {
    font-size: 1.125rem;
  }
  .logo {
    width: 7.125rem;
  }

  /* ****Styling**** */
  /* Header*/
  .header {
    padding: 1.5rem 0 0;
  }
  .header__nav {
    margin-bottom: 14.13rem;
  }
  .hero__text {
    width: 45%;
  }
  .hero__text--title {
    font-size: 3.5rem;
  }

  .hero__img {
    width: 55%;
  }

  .hero__img--mobile {
    display: none;
  }

  .hero__img--tablet {
    display: none;
  }

  .hero__img--desktop {
    display: block;
    position: absolute;
    max-width: 60rem;
    top: -6.5rem;
    right: -19rem;
  }

  /* Main */
  main {
    padding: 1.5rem 0 8.75rem;
  }

  .first-card {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 21.875rem;
    padding: 4rem 2rem;
    margin-top: 2.5rem;
  }
  .card {
    max-width: 21.875rem;
    padding: 4rem 2rem;
    margin-top: 2.5rem;
  }

  .card__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .card__text {
    margin-bottom: 1.5rem;
  }
  .card__link {
    color: var(--color-4);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  .card__link:focus,
  .card__link:hover {
    color: var(--color-5);
  }
}
